.DS_Store

app/cache/*
!app/cache/index.html
!app/cache/.htaccess

app/logs/*
!app/logs/index.html
!app/logs/.htaccess

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.env
app/config/database.php
public/assets/upload_images/employee_cv/*
public/assets/upload_images/employee_images/*
public/assets/upload_images/login_banner/*
public/assets/upload_images/logo/*
public/assets/upload_images/user_image/*
public/assets/upload_images/student/*
